<h2>Welcome. Are you ready to enter Preeti's world?</h2>
		
		<div class="row" style="z-index:2">
			<div class="col-md-6">
				<img src="app/preeti.jpg" alt="preeti photo" width="100%">
			</div>
			<div class="col-md-6">
				This is the website of Preeti. You can call me Preeti or Laxmi. It really doesnt matter. After all, what's in a name?
				I would like to reveal all about muyself here. In flesh and blood or in font and html or whatever. Anyway I hopeI get full credit for this project or atleast enough to catapult me into a Gold or Platimum zone. Who wants silver? We Keralites always prefer gold. All that glitters is gold to us. You are in the Home page. After a wile you can browse around and see all the features you want to see.Please have a nice time while you're here. Any feedback can be mailed to  me directly at you know where . Please dont take this content seriously. It's just for the sake of writing and for the want of a good content writer. So please dont judge me on the basisi of the content but rather on the basis of the techniques. Thank you. God bless.
			</div>
		</div>	
		<div id="floatleft" >
		<img src="app/home/ArcSoft_Image605.jpg" width="25%" height="25%"><img src="app/home/ArcSoft_Image606.jpg" width="25%" height="25%"><img src="app/home/ArcSoft_Image607.jpg" width="25%" height="25%"><img src="app/home/ArcSoft_Image608.jpg" width="25%" height="25%"><img src="app/home/ArcSoft_Image615.jpg" width="25%" height="25%"><img src="app/home/ArcSoft_Image616.jpg" width="25%" height="25%"></div>
		<footer>
		Feedback at lp_money@acadgild.com <div style="float:right">(c) Preeti 2017</div>
		</footer>